<body>
  <div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
      <a class="navbar-brand text-center" href="#">CAN I GO OUT ?</a>
    
      <a class="nav-link align-items-end" (click)="authService.SignOut()">
        <i class="fas fa-sign-out-alt"></i>Log out
      </a>
    </nav>
  </div>
</div>


<div class="container-fluid">
<div class="row">
  <div class="map-container col-md-12">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid">
<nav class="navbar fixed-bottom navbar-light bg-light text-center" (click)="openDialog()">
  <a class="navbar-brand text-center" >
      <img src="../../assets/icons/policeButton.png">
  </a>
</nav>
</div>

</body>