.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;

  }
  
  .map-frame {
    border: 2px solid black;
    height: 80%;

  }

  .navbar {
    background-color: #c82333 !important;
    opacity: 60%;
  }

  .navbar-brand {
    color: white;
    margin-left: 40%;
  }
  
  #map {
    height: 100%;
  }

  .btn {
    position: absolute;
  }