<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
  <a class="navbar-brand text-center" href="#">CAN I GO OUT ?</a>

  <a class="nav-link align-items-end" (click)="authService.SignOut()">
    <i class="fas fa-sign-out-alt"></i>Log out
  </a>
</nav>

<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>

</div>

<nav class="navbar fixed-bottom navbar-light bg-light text-center" (click)="openDialog()">
  <a class="navbar-brand text-center" >
      <img src="../../assets/icons/policeButton.png">
  </a>
</nav>